* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8e3d7;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Headern ovanför den globala naven */
.header {
  background-color: #363434;
  padding-top: 1.5rem;
  text-align: center;
}

.header h1 {
  font-size: 1.8rem;
  color: #ffffff;
}

.header h3 {
  color: #e8e3d7;
  text-decoration: underline;
}

/* Den globala naven som finns på alla sidor */
.navigation {
  background-color: #363434;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.75rem 1.5rem;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}

.navigation a:hover {
  background-color: #747474;
}

.navigation a.aktiv {
  background-color: #e8e3d7;
  color: #363434;
  font-weight: bold;
}


/* Övrigt rubriker och sidans design */
main {
  flex: 1;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}

.uppgifter h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 30px;
  color: #363434;
  font-weight: bold;
}

/* Korten för inlämningsuppgifterna på startsidan */
#uppgifts-kort {
  display: flex;
  gap: 3rem;
}

.card {
  width: 50%;
  background-color: #363434;
  color: #ffffff;
  padding: 2.2rem;
  border-radius: 16px;
  text-align: center;
}

.card h3 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.card p {
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.card a {
  display: inline-block;
  margin: 0 auto;
  background-color: #e8e3d7;
  color: #363434;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  background-color: #a6a298;
}

/* Uppgift 1 sidans css */
.uppgift1-sida h2 {
  text-align: center;
  font-size: 30px;
  color: #363434;
  font-weight: bold;
}

.uppgift1-sida h3 {
  text-align: center;
  font-size: 20px;
  color: #363434;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.uppgift1-sida {
  text-align: center;
}
.tillbaka-knapp {
  display: inline-block;
  margin-top: 2rem;
  background-color: #363434;
  color: #e8e3d7;
  padding: 0.6rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.tillbaka-knapp:hover {
  background-color: #626060;
}


/* Footer på sidor */
.footer {
  background-color: #363434;
  padding: 1.5rem;
  text-align: center;
  color: #ffffff;
}